################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/angular-concepts-explained/.vscode
/angular-concepts-explained/package-lock.json
